$light-blue: #A1C6E9;
$sea-green: #15A9DC;
$dark-gray: #14222A;
$brown: #6D4337;
$blue: #077FCE;
@import url('https://fonts.googleapis.com/css?family=Poiret+One');



body {
  font-family: 'Raleway', sans-serif;
}
h1, h2 {
 font-family: 'Poiret One', cursive; 
  
}

.navbar {
  margin-bottom: 10px !important;
  .nav-link {
    color: $blue !important;
    font-size: 18px;
  }
}
// .jumbotron > .container {
//   position: relative;
//   top: 50%;
//   transform: translateY(-50%);
// }
a .nav-link{
  font-size: 18px;
  color: $blue;
}
.btn-primary {
  background: $blue;
}

#logo {
  font-size: 24px;
  text-transform: uppercase;
  font-family: 'Poiret One', cursive;
  font-weight: 700;
  color: #fff;
}
.display-1 {
  font-family: 'Poiret One', cursive; 
  font-weight: 700;
  margin-top: 175px;
  text-shadow: 1px 1px 2px #000000;
}
.bg-blue {
  background-color: $light-blue;
  
}
.jumbotron {
  text-align: center;
  background-image: asset-url('photo-gallery.jpg');
  background-size: cover;
  color: #fff;
  height: 600px;
  margin-top: 10px;
  font-stretch: expanded;
  padding-top: 35px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
}
.jumbotron img{
    display:block;
    margin-left:auto;
    margin-right:auto;
}
.social-set ul {
  margin: 6px 0 0 !important;
  padding: 0;
  display: inline;
  
}

.social-set ul li {
  padding: 0 2px 5px 0;
  margin: 0;
  display: inline-block;
  border: none !important;
  clear: none;
  line-height: 100%;
}

.social-set li img {
  vertical-align: middle;
  margin-top: -3px;
  padding: 20px;
  float: left;
}
.show-img {
  border: 4px solid $sea-green;
  margin-top: 5px;
}